# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
htmlcov/
.env
.venv/
venv/

# ========================
# Java
# ========================
*.class
target/
bin/
out/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log